h3 {
    text-align: center;
    font-size: 32px;

}


#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 8px;

}

.box1,
.box2,
.box3 {
    border: 3px solid black;
    background-color: grey;

    width: 30%;


}

.box2 .second {
    float: right;
    border: 1px solid black;
    background-color: rgb(255, 255, 71);
    box-sizing: border-box;
    margin: 0px;

}

.box3 .third {
    float: right;
    border: 1px solid black;
    background-color: rgb(226, 23, 23);

    margin: 0%;
}


.box1 .first {
    float: right;
    border: 1px solid black;
    background-color: rgb(255, 71, 234);
    box-sizing: border-box;
    margin: 0%;


}

@media (min-width:992px) {
    #orw {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin: 8px;


    }
}

@media (min-width:768px) and (max-width:991px) {
    #row {
        display: block;
        flex-direction: row;
        width: 100%;

    }

    #row .box1,
.box2 {
        display: inline-block;
        flex-direction: column;
       width: 48%;
       justify-content: space-evenly;
       


    }

    #row .box3 {
        
        margin-top: 12px;
        width: 98%;

    }
}

@media (max-width:767px) {
    #row {
        display: block;
        margin: 20px;

    }

    #row .box1,
    .box2,
    .box3 {
        width: 99%;
        margin-top: 12px;


    }
}